@tailwind base;
@tailwind components;
@tailwind utilities;

/* Button styles such as Login and Signup button */
.globalButtons {
  @apply btn btn-outline text-lg font-medium text-white md:text-xl w-full border-none bg-pnc hover:bg-pncHover;
}

/* General styles for all the titles across the webpage */
.titles {
  @apply text-pnc text-3xl md:text-4xl font-bold;
}

.button {
  @apply btn btn-outline bg-pnc hover:bg-pncHover border-none text-white;
}

/* Style for profile "Save Changes" button. */
.save-changes-btn {
  @apply btn btn-sm btn-outline md:btn-md bg-pnc hover:bg-pncHover border-none text-white;
}

.cancel-changes-btn {
  @apply btn btn-sm btn-outline md:btn-md bg-red-500 hover:bg-red-600 border-none text-white;
}

.delete-account-btn {
  @apply btn btn-sm md:btn-md border border-red-500 bg-transparent text-red-500 font-medium cursor-pointer hover:bg-red-500 hover:text-white hover:border-opacity-0;
}
.admin-drawer-button {
  @apply btn btn-square btn-outline glass  drawer-content hover:bg-pnc bordered border border-pnc;
}

.admin-drawer-mobile {
  @apply drawer w-screen gap-14 glass grid-flow-col place-content-center p-2  bg-white;
}

.dropdown-menu {
  @apply menu dropdown-content w-32 rounded mr-1 z-10 bg-pncHover transition-all shadow-2xl;
}

.user-navbar {
  grid-row: 1/2;
  grid-column: 1/-1;
}

.nav-menu-button {
  @apply btn-block focus:border-current hover:bg-pnc p-2 font-medium transition-all text-white;
}

/* Admin layout that consist the AdminNavbar, Sidebar and (Customer | Menu | Transactions tables) */
.admin-layout {
  display: grid;
  grid-template-rows: minmax(0, 5rem) minmax(0, 1fr);
  grid-template-columns: minmax(0, 10rem) repeat(2, minmax(0, 1fr));
  height: 100vh;
}

/* Container of Sidebar component and (Customer, Menu, Transaction tables) */
.main-content-admin {
  display: grid;
  grid-row: 2/-1;
  grid-column: 1/-1;
  grid-template-columns: minmax(0, 10rem) repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, min-content));
}

.admin-button {
  @apply btn border-none glass flex justify-between gap-2 bg-pncHover hover:bg-pncHover;
}

.admin-sidebar-btn {
  @apply btn glass bg-pnc hover:bg-pncHover;
}

.admin-edit-btn {
  @apply btn bg-blue-400 hover:bg-blue-500 border-none;
}

.admin-delete-btn {
  @apply btn bg-red-400 hover:bg-red-500 border-none;
}

.admin-cancel-btn {
  @apply btn bg-blue-400 hover:bg-blue-500 border-none;
}
/* END OF ADMIN COMPONENT STYLES */

/* TABLE STYLES */
.table-height {
  height: 50rem;
}

.cart-table-height {
  height: 26rem;
}
/* MENU DESCRIPTION */
.description-width {
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

/* Homepage */
.menu-desc {
  max-lines: 2;
  @apply block font-medium break-all overflow-ellipsis overflow-hidden max-h-16 h-auto;
}

.home-figure {
  position: relative;
  color: white;
}

.home-figure::after {
  content: " ";
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.4;

  background-color: black;
}

/* CART */

.cart-page {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  place-content: start space-evenly;
  width: 100%;
}

.cart-container {
  @apply md:max-w-lg lg:max-w-2xl md:h-cartHeight md:overflow-y-auto w-full flex flex-col items-center row-start-2 row-end-3 col-start-1 col-end-3 md:col-start-1 md:col-end-2;
}

.cart-menu-title {
  @apply font-bold md:text-2xl;
}

.cart-menu-price {
  @apply text-xl font-medium text-pnc;
}
/* Menu Info Modal styles */
.quantity {
  @apply btn btn-sm rounded-full btn-disabled bg-transparent border-gray-300 text-black border-none;
}

/* Quantity Buttons */
.qty-btn {
  @apply btn btn-outline bg-pnc text-white border-none;
}

.details {
  @apply text-pnc font-bold;
}

.instruction {
  @apply font-medium text-pnc text-lg;
  max-width: 25ch;
}

.user-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
  row-gap: 1rem;
}

.user-details-title {
  @apply text-pnc font-medium text-base sm:text-lg;
}
