.input-container {
  position: relative;
  margin: 1rem 0;
}

.input-container:focus-within label {
  top: 0;
  left: 5px;
  background-color: white;
  color: black;
  padding: 0 0.2rem;
  color: #0040AB;
}

// When Placeholder is not visible, we assume that the label is on top of the input field.
.input-container input:not(:placeholder-shown) ~ label {
  top: 0;
  left: 5px;
  background-color: white;
  color: black;
  padding: 0 0.2rem;
  color: #0040AB;
}

.input-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  color: #ccc;
  transition: all 300ms;
}
